---
import Social from "./Social.astro";
const platform = "github";
const username = "divineamunega";

---


<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>


<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>

  <Social platform="twitter" username="div_x_" />
  <Social platform="github" username="divineamunega" />
  <Social platform="tg" username="divinne_tg" />
</footer>